Fabric==1.4.0
Flask==0.8
Jinja2==2.6
Werkzeug==0.8.3
certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
goristock==0.5
grs==0.0.1a0308
newrelic==1.1.0.192
pycrypto==2.5
pylibmc==1.2.2
pymongo==2.1.1
python-binary-memcached==0.13
python-memcached==1.48
requests==0.10.7
ssh==1.7.13
wsgiref==0.1.2
