{% extends "index.htm" %}
{% block context %}
<div class="page-header">
    <h1>{{ op.title }}</h1>
</div>
    {% for i,p in op.op%}
        <div class="well span3">
            <span class="label label-{% if p>0 %}important{% else %}success{% endif %}">{{ p|safe }}</span>
            <br>
            {% for p in i %}
                <span class="label label-info">{{ p }}</span>
            {% endfor %}
        </div>
    {% endfor %}
        <table class="table table-striped">
        <tr>{% for i in op.rawname%}<td>{{ i }}</td>{% endfor %}</tr>
        {% for i in op.raw %}
            <tr>{% for v in i %}<td>{{ v }}</td>{% endfor %}</tr>
        {% endfor %}
        </table>
{% endblock %}
